{% extends 'app/base.html' %} {% block content %}

<div class="container">
  <form action="{% url 'savedata' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="fname">First Name</label>
      <input
        name="name"
        type="text"
        class="form-control"
        id="fname"
        placeholder="Enter First Name"
      />
      <label for="exampleInputEmail1">Email address</label>
      <input
      name="email"
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
      <label for="contact">Contact</label>
      <input
      name="contact"
        type="number"
        class="form-control"
        id="contact"
        placeholder="Enter Contact"
      />
      <label for="city">city</label>
      <input
      name="city"
        type="text"
        class="form-control"
        id="contact"
        placeholder="Enter Contact"
      />
      <label for="InputPassword1">Password</label>
      <input
      name="password"
        type="password"
        class="form-control"
        id="InputPassword1"
        placeholder="Password"
      />
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}
